/* Fundo com imagem e layout fixo */
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Georgia", serif;
  background: url("assets/fundo.png") no-repeat top center;
  background-size: contain;
  background-color: #000;
  background-attachment: fixed;
}

header {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 18px;
  color: #ccc;
  flex: 1 1 100%;
  margin-bottom: 10px;
}

a.back {
  background: transparent;
  border: 1px solid rgba(20, 20, 20, 0.85);
  border-radius: 10px;
  padding: 10px 20px;
  color: #ccc;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  line-height: 1.8;
  white-space: pre-line;
}

a.back:hover {
  background: #444;
  color: #fff;
}

.carta-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 5vw;
}

.carta-box {
  width: 33%;
  height: 80vh;
  background-color: rgba(20, 20, 20, 0.85); /* cor da home */
  padding: 30px;
  margin-left: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.carta-scroll {
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  scroll-behavior: smooth;
}

.carta-scroll::-webkit-scrollbar {
  width: 6px;
}
.carta-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
.carta-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.carta-scroll p {
  color: #ccc;
  font-size: 18px;
  line-height: 1.8;
  white-space: pre-line;
  padding-inline-end: 20px;
}

@media (max-width: 1000px) {
  body {
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .carta-page {
    justify-content: center;
    padding: 0 20px;
  }

  .carta-box {
    width: 100%;
    max-width: 500px;
    margin-left: 0;
  }
}

.custom-player {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 430px;
  flex: 1;
  justify-content: flex-end;
  min-width: 200px;
}

.custom-player button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
}

.custom-player input[type="range"] {
  width: 100px;
  height: 4px;
  appearance: none;
  background: #fff;
  border-radius: 5px;
  outline: none;
}

.custom-player input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

#playPauseBtn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#progressBar {
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: white;
  outline: none;
  margin-right: 30px;
}

#progressBar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

#progressBar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
